@font-face {
    font-family: Gotham400;
    src: url(./assets/fonts/gotham_normal.otf);
}

@font-face {
    font-family: Gotham500;
    src: url(./assets/fonts/gotham_medium.otf);
}

@font-face {
    font-family: Gotham700;
    src: url(./assets/fonts/gotham_bold.otf);
}

@font-face {
    font-family: GothamPro400;
    src: url(./assets/fonts/gothampro.ttf);
}

@font-face {
    font-family: GothamPro500;
    src: url(./assets/fonts/gothampro_medium.ttf);
}

@font-face {
    font-family: GothamPro700;
    src: url(./assets/fonts/gothampro_bold.ttf);
}